# Виртуальное окружение
venv/
.venv/
env/
.env

# Файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы IDE (VS Code)
.vscode/

# Файл базы данных
*.db

# Файл с секретными данными
.env

# Файл с ключами доступа
credentials.json

# Папка с виртуальным окружением Python
.venv/